body {
  background-color: #34568B;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.th {
  background-color: #FFD700;
  border: 2px #F5F5F5;
}

.td {
  background-color: #FF6F61;
  border: 2px solid blue;
}